<%= stylesheet_link_tag 'homes', media: "all" %>

<div class="top-space"></div>

<div class="container">
  <div class="row justify-content-center">
    <%= link_to image_tag('nya.png', size: '200x200', class: "rounded-image"), about_path %>
  </div>
  <div class="row justify-content-center">
    <% if user_signed_in? %>
      <%= link_to "ポジティブ", new_happy_memory_path, class: "button happy-button btn-primary" %>
    <% else %>
      <%= link_to "ポジティブ", confirm_happy_memories_path, class: "button happy-button btn-primary" %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <% if user_signed_in? %>
      <%= link_to "ネガティブ", new_negative_memory_path, class: "button negative-button btn-primary" %>
    <% else %>
      <%= link_to "ネガティブ", confirm_negative_memories_path, class: "button negative-button btn-primary" %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <% if user_signed_in? %>
      <%= link_to "つぶやき", new_post_path, class: "button tubuyaki-button btn-primary" %>
    <% else %>
      <%= link_to "つぶやき", confirm_posts_path, class: "button tubuyaki-button btn-primary" %>
    <% end %>
  </div>
</div>
